* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #dcdcdc;

    padding: 0 10px;
    .container {
        max-width: 1000px;
        margin: 0 auto;
        
    }
    .header__wrap {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 54px 0;
    }
    .logo {
        img {
            height: 100px;
            width: 315px;
        }
    }
    .sale {
        // color: $colorMain;
        color: #767676;
        padding-top: 26px;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 22px;
    }
    .phone {
        ul {
            list-style: none;
            li {
                font-size: 31px;
                font-weight: 800;
                letter-spacing: 1px;
                line-height: 46px;
                color: #767676;
            }
        }
    }
}
